.clubsHead {
	color: rgb(0, 0, 0);
	font-family: 'Raleway', sans-serif;
	font-size: 300%;
	padding-left: 65px;
	padding-bottom: 30px;
}

.middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.mother {
	background-color: rgb(192, 178, 167);
	padding-left: 65px;
}

.slogen {
	color: white;
	font-size: 400%;
	font-weight: lighter;
}

.slogen2 {
	color: white;
	font-size: 400%;
}

.ballet {
	padding-top: 50px;
	background-color: rgba(251, 49, 64, 0.45);
	padding-left: 20px;
}

.club-list {
	font-size: 130%;
}

.none-padding{
	margin-left: 0;
	padding-left: 0;
	
}

li {
	list-style: none
}

.block_2 {
	background-color: darksalmon
}

.clear-float {
	clear: both;
}

.block_3 {
	background-color: rgb(146, 134, 134);
}

.singer {
	width: 100%
}


/* 外部多级下拉框样式*/

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: rgb(204, 204, 204);
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: rgb(255, 255, 255);
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}