@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container1 */
.container1 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1280px;
	background: url(../images/bg.webp)
}
/* Navigation */
.logo>a:hover{
	color:black;
	text-decoration:none;
}

.logo>a:visited{
	color:black;
	text-decoration:none;
}
header {
	width: 100%;
	height: 4%;
	background-color:#FFFFFF;
	/* border-bottom: 1px solid #2C9AB7; */
}
.logo {
	transform: scale(1,0.8);
	font-weight: 300;
	font-size: 200%;
	text-align:right;
	float: left;
	/* margin-top: 16px; */
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 37%;
	height: 100%;
	text-align: right;
	margin-right: 0px;
	background-color:#FFFFFF
}
header nav ul {
	list-style: none;
	float: left;
	margin-top: 10px
}
nav ul li {
	float:left;
	color: #FFFFFF;
	font-size: 14px;
	text-align:left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-size: 150%;
	font-weight: lighter;
	transition: all 0.3s linear;
}
ul li a {
	color:#000000;
	text-decoration: none;
}
ul li:hover a {
	color: rgb(230, 128, 39);/*萱草色*/ 
}

.STQ{
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top:300px;
	background-color: #FFFFFF;
}
.My_Club{
	width:2500px;
	height: 1200px;
	background-color:#FFFFFF;
	position: absolute;
    left:50%;
    top:50%;
    margin-left:-1250px;
    margin-top:-590px;
	
}
.STQ_TOP{
	width: 300px;
	height: 160px;
	background-color:#FFFFFF;
	text-align:center;
	line-height: 280px;/*改变字体的纵向位置*/
}

.STQ_FONT{
	text-decoration: none;
	text-shadow: 0px 0px 0px 0px #000;
	font-family:'宋体';
	font-size: 64px;
}

.STQ_MID{
	width: 300px;
	height: 50px;
	background-color:#FFFFFF;
	text-align: center;
	line-height: 50px;
}

.STQ_FONT2{
	color:#DB4D6D;/*中红*/
	text-align: center;
	text-shadow: 0px 0px 0px #FB4F51;
	font-size:20px;
	font-style: italic;
}

.STQ_BOTTOM{
	width: 300px;
	height: 90px;
}
.head-padding{
	padding-top: 1.5%;
}

#Bling {
  animation: turn 2s infinite;
}
  
.donut-front {
  z-index: 5;
  backface-visibility: hidden;
}
  
@keyframes turn {
  to {
    transform: rotateY(360deg);
  }
}  
	
