.bgcoloring{
    background-color: #ffffff
}
.imgshadow{
    box-shadow: 10px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: 0.375rem;
}
#father{
    height: 100%
}
#title{
    
}
.clear-float{
    clear: both;
}