.bgcoloring {
    background-color: #ffffff
}

.imgshadow {
    box-shadow: 10px 5px 25px 0 rgba(46, 61, 73, .2);
    border-radius: 0.375rem;
}

#father {
    height: 100%
}

.clear-float {
    clear: both;
}

.selected{
    opacity: 1;
    -webkit-filter: contrast(100%);
    filter:contrast(100%);
    -webkit-perspective: 800px;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, -webkit-perspective 0.5s, -webkit-filter 0.5s;
    transition:  transform 0.5s, opacity 0.5s, perspective 0.5s, filter 0.5s;
}

.selected:hover{ /* todo: 1. add perspective, 2. fix the shake of hover*/
    opacity: 0.5;
    -webkit-filter: contrast(30%);
    filter:contrast(30%);
    -webkit-perspective:800px;
    perspective: 800px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    animation: cd-rotate;
}

@keyframes cd-rotate{
    0%{
        transform: perspective(800px)
    }
    70%{
        transform: perspective(800px)
    }
    100%{
        transform: perspective(800px)
    }
}